/*Estilos Login Front Page*/

#bodyLogin {

	background: #131313;
	font-family: 'Droid Sans', sans-serif;

}

.contentboxLogin {

	display: block;
	margin: 15em auto 0 auto;
	width: 16em;
}

#login {

	color:#666;
}

#login img {

	width: 100%;
	margin-bottom: 1.2em;
}

#login #username{
	
	width: 100%;
	max-width: 17.5em;
	padding: 0.6em 0.4em 0.6em 0.4em;
	background:#222;
	border:1px solid #222;
	float: left;
	margin-bottom: 0.7em;
	font-size: 14px;
	border-radius: 2px;
	


}


#login #password {
	
	width: 100%;
	max-width: 14.34em;
	padding: 0.6em 0.4em 0.6em 0.4em;
	background:#222;
	border:1px solid #222;
	float: left;
	font-size: 14px;
	border-radius: 2px;
}


#password:focus { 
	outline: none;
}


#username:focus { 

	outline: none;
}

#login ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #444;
	font-size: 13px;
}
#login :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #444;
    opacity:  1; 
    font-size: 13px;

}
#login ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #444;
    opacity:  1;
    font-size: 13px;
}
#login :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #444;
    font-size: 13px;
}


.submit {
	border: 1px solid #E53C2D;
	border-radius: 2px;
	margin-left: 0.42em;
	width: 2.2em;
	height: 2.14em;
	outline: none;
	background: url(../images/arrow.png) #E53C2D no-repeat 0px 2px;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
.submit:hover {
	
		background: url(../images/arrow.png) #d73324 no-repeat 0px 2px;

}


/* Estilos Body App */

#bodyApp {
	
	/*background: #f3f3f3;*/
	background: #fff;
	margin-left: 3.3em;

}

section.panelMain {
	width: 3.3em;
	position: fixed;
	background: #222;
	height: 100%;
}
.mainPrincipal {


	list-style: none;
}

.mainPrincipal li {

	width: 3.3em;
	font-size: 10px;
	
}

.mainPrincipal li>a {

	text-decoration: none;

}

ul.mainPrincipal {
padding: 0px;
}

div.panelLogotipo img {
	width: 90%;
	display: block;
	margin: 0 auto;
}

div.panelLogotipo {
	background: #343434;
	display: block;
	height: 37PX;
	position: relative;
	top: -16px;
	padding: 13px 0px 1px 0px;
}


ul.mainParse {
padding-top: 1em;
padding-left: 5em;
}

li.activeMain {
border-bottom: 3px solid #008CBA;
padding-bottom: 13px;
padding: 1px 4px 11px 7px;
color: #000;
}



ul.mainParse li {
display: inline-block;
margin-left: 1em;
}
ul.mainParse li a{
	text-decoration:none;
	color: #A1A1A1;
	font-size: 13px;
	font-family: 'Droid Sans'sans-serif;

}


ul.mainSecondary {
	padding: 0;
	margin: 0;
	position: fixed;
	display: inline-block;
	background: #FFF;
	width: 100%;
	height: 3.1em;
	list-style: none;
}

.mainRight {
	float: right;
	margin-right: 258px;
	display: block;
	z-index: 1000;
	position: relative;
}

div.mainRight li {
	float: left;
}

.userinfo  img, .userinfo p{	
	float: left;
}

.userinfo img {

	border-radius: 10px;
	border-radius: 39px;
	max-width: 32px;
}

a.userinfo {
	padding-top: 7px;
	display: block;
	}

.userinfo p {
	font-size: 13px;
	font-family: 'Droid Sans';
	line-height: 8px;
	padding-left: 5px;
	color: #A1A1A1;
	}

ul.mainPrincipal li a {
	width: 100%;
	color: #999;
	line-height: 1.5em;
	font-family: 'Droid Sans';
	display: block;
	height: 23px;
	padding: 10px 10px 10px 10px;
	font-size: 13px;
	border-bottom: 1px solid #292929;
}

ul.mainPrincipal li a:hover {
	background: #262626;
}

.icon {

	width: 25px;
	height: 25px;
	display: block;
	float: left;
	background: #000;
	margin-right: 9px;
	margin-left: 5px;

}

.dash {

	background: url('../images/icon.png') no-repeat 0px -6px;
}

.ana {

	background: url('../images/icon.png') no-repeat 0px -26px;
}

.art {

	background: url('../images/icon.png') no-repeat 0px -71px;
}

.usua {

	background: url('../images/icon.png') no-repeat 0px -47px;
}

.config {

	background: url('../images/icon.png') no-repeat 0px -99px;
}


.ofla {

	background: url('../images/icon.png') no-repeat 0px -121px;
}

.team {

	background: url('../images/icon.png') no-repeat 1px -149px;
}
/*Content app */

article.contentApp {
	padding-top: 53px;
}

div.headerApp {
	width: 69em;
	margin: 0 auto;
	padding: 0px;
}

.headerApp h2 {
	font-family: 'Droid Sans';
	font-weight: 100;
	color: #444!important;
	padding: 0px;
	}

p.subtitle {
	font-size: 12px;
	line-height: 0px;
	color: #888;
	}



/* Estilos Pagina Equipo*/


div.singleUser {
	background: #FFF;
	border-bottom: 1px solid #F1F1F1;
	width: 47em;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	padding: 11px;
	margin-bottom: 4px;
	position: relative;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	}

div.avatar img {
	float: left;
	max-width: 58px;
	border-radius: 33px;

	}

div.singleUser .avatar {
	float: left;
	display: block;
	margin-right: 10px;
	margin-left: 9px;
	}

a.btn_more {
	position: absolute;
	right: 1px;
	top: 36px;
	right: 14px;
	}

.displayTeam {

	height: 100px !important;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

p.title_team {

	font-family: 'Droid Sans';
	color: #666;
	font-weight: 700;
	}

p.cargo_team {
	line-height: 0px;
	color: #D73324;
	font-size: 12px;
	top: -5px;
	position: relative;
	}


p.roleTeam {
	font-size: 13px;
	color: #CCC;
	font-family: 'Droid Sans';
	position: absolute;
	top: 24px;
	right: 62px;
	}

.btn_more:hover {
	background: #D73324;
	}

.btn_more {
	background: #c1c1c1;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

a.editButton {
	display: block;
	font-family: 'Droid Sans';
	color: #CCC;
	text-decoration: none;
	width: 61px;
	font-size: 13px;
	height: 16px;
	border: 1px solid;
	text-align: center;
	padding: 6px;
	border-radius: 33px;
	margin: 43px 0px 0px 0px;
	}




/*Estilos Add Articulos*/


#dropbox{
    background:url('../img/background_tile_3.jpg');

    border-radius:3px;
    position: relative;
    margin:80px auto 90px;
    min-height: 290px;
    overflow: hidden;
    padding-bottom: 40px;
    width: 990px;

    box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}

#dropbox .message{
    font-size: 11px;
    text-align: center;
    padding-top:160px;
    display: block;
}

#dropbox .message i{
    color:#ccc;
    font-size:10px;
}

#dropbox:before{
    border-radius:3px 3px 0 0;
}

/*-------------------------
    Image Previews
--------------------------*/

#dropbox .preview{
    width:245px;
    height: 215px;
    float:left;
    margin: 55px 0 0 60px;
    position: relative;
    text-align: center;
}

#dropbox .preview img{
    max-width: 240px;
    max-height:180px;
    border:3px solid #fff;
    display: block;

    box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
    display: inline-block;
    position:relative;
}

#dropbox .uploaded{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
    display: none;
}

#dropbox .preview.done .uploaded{
    display: block;
}

/*-------------------------
    Progress Bars
--------------------------*/

#dropbox .progressHolder{
    position: absolute;
    background-color:#252f38;
    height:12px;
    width:100%;
    left:0;
    bottom: 0;

    box-shadow:0 0 2px #000;
}

#dropbox .progress{
    background-color:#2586d0;
    position: absolute;
    height:100%;
    left:0;
    width:0;

    box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;

    -moz-transition:0.25s;
    -webkit-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s;
}

#dropbox .preview.done .progress{
    width:100% !important;
}

/*Estilos admin Articles*/

	p.title_article {
		font-family: 'Droid Sans';
		color: rgba(0, 0, 0, 0.8);
		font-weight: 600;
		font-size: 30px;
		margin: 0px 0px 0px 0px;
		}

	p.subtitle_article {
		line-height: 0px;
		color: #CCC;
		font-size: 12px;
		top: -13px;
		position: relative;
	}

	div.editBox {
		margin-top: 3px;
		padding-top: 10px;
		padding: 10px 5px 2px 6px;
		}

	img.thumbnails_small {
		width: 30px;
		border-radius: 100%;
		float: left;
		margin-right: 4px;
		margin-top: -4px;
		}

	div.editBox p {
		padding: 0px;
		margin: 4px 0px 0px 0px;
		color: #CCC;
		font-family: 'Droid Sans', sans-serif;
		font-size: 12px;
		}

	.editBox span {
		color: rgba(0, 0, 0, 0.3);
		font-weight: 100;
		font-size: 13px;
		padding-top: 5px;
		display: block;
		}

	a.btn_add {
		float: right;
		position: relative;
		margin-top: -56px;
		font-family: 'Droid Sans',sans-serif;
		font-size: 12px;
		text-decoration: none;
		color: #FFF;
		background: #008CBA;
		padding: 9px;
		border-radius: 36px;
	}
		div.MediumContent {
		width: 90%;
		margin: 21px auto;
		padding: 9px;
		background: #FFF;
		}



textarea.textareaMedium {
	display: none;
	}

	div.editable {
	width: 890px;
	}

textarea.title {
	font-size: 55px;
	border: none;
	outline: none;
	}
